# Enable top-most EditorConfig file
root = true

# Environment configs
[*.env*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Markdown documents
[*.md]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true

# Text documents
[*.txt]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# Git configs
[.{gitattributes,gitignore,mailmap}]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true

# EditorConfig files
[.editorconfig]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# MarkdownLint configs
[.markdownlint*.{json*,y*ml,*js}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Node.js and NVM configs
[.{node-version,nvmrc}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# NPM configs
[.npmrc]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# NPM manifests
[package*.json]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true

# Prettier configs
[.{prettierignore,prettierrc}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[.prettierrc.{json*,y*ml,*js,*ts,toml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[prettier.config.{*js,*ts}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# ESLint configs
[eslint.config.{*js,*ts}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Jest configs
[jest.config*.{json*,*js}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Rollup configs
[rollup.config.{*js,*ts}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Docker files
[.dockerignore]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[Dockerfile*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Visual Studio Code files
[*.code-workspace]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
[.vscode/*.json]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# DevContainers manifests
[.devcontainer/**/devcontainer.json]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# GitHub configs
[.github/CODEOWNERS]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[.github/**/*.{md,y*ml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# GitHub Actions manifests
[action.y*ml]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# JavaScript sources
[{src/**/*.js,test/**/*.js}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
