# Global ignoring of different binaries and another temporary files

# NPM cache
.npm/
node_modules/
npm-debug.log*

# Logs
logs
*.log

# Test results
coverage/

# System cache
.DS_Store
Thumbs.db

# Environment configs
.env
