# Base NPM registry
registry=https://registry.npmjs.org/

# Location of NPM cache directory
cache=.npm

# Suppress progress bar
progress=false

# Suppress funding messages
fund=false

# Save exact versions of packages
save-exact=true
